<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.ehrbilling</package>
	<author>ricky</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.ehrbilling.EhrbillingActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>1.12.0</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.ehrbilling.extension.html.AdminList</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<privilege>
		<name>Add Bill</name>
		<description>Allows user to add Bill</description>
	</privilege>

	<privilege>
		<name>Edit Bill</name>
		<description>Allows user to edit Bill</description>
	</privilege>

	<privilege>
		<name>Edit Bill once printed</name>
		<description>Allows user to edit Bill once it has been printed
		</description>
	</privilege>

	<privilege>
		<name>View Bills</name>
		<description>Allows user to view Bills</description>
	</privilege>

	<privilege>
		<name>Add/Edit Tender</name>
		<description>Allows user to Add / Edit Tender</description>
	</privilege>

	<privilege>
		<name>View Tenders</name>
		<description>Allows user to view Tenders</description>
	</privilege>

	<privilege>
		<name>Delete Tender</name>
		<description>Allows user to delete Tender</description>
	</privilege>

	<privilege>
		<name>Add/Edit Company</name>
		<description>Allows user to Add / Edit Company</description>
	</privilege>

	<privilege>
		<name>View Companies</name>
		<description>Allows user to view Companies</description>
	</privilege>

	<privilege>
		<name>Delete Company</name>
		<description>Allows user to delete Company</description>
	</privilege>

	<privilege>
		<name>Add/Edit Ambulance</name>
		<description>Allows user to Add / Edit Ambulance</description>
	</privilege>

	<privilege>
		<name>View Ambulances</name>
		<description>Allows user to view Ambulances</description>
	</privilege>

	<privilege>
		<name>Delete Ambulance</name>
		<description>Allows user to delete Ambulance</description>
	</privilege>

	<privilege>
		<name>Delete Ambulance</name>
		<description>Allows user to delete Ambulance</description>
	</privilege>

	<privilege>
		<name>Delete Miscellaneous Service</name>
		<description>Allows user to delete Miscellaneous Service</description>
	</privilege>

	<privilege>
		<name>Add/Edit Miscellaneous Service</name>
		<description>Allows user to add/edit Miscellaneous Service
		</description>
	</privilege>

	<privilege>
		<name>View Miscellaneous Service</name>
		<description>Allows user to view Miscellaneous Service</description>
	</privilege>

	<!-- Required Global Properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.updatedReceiptIds</property>
		<defaultValue>false</defaultValue>
		<description>
			A variable to indicate that the receipt has been updated
			for old bills or not. DO NOT change this !
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.BPL</property>
		<defaultValue>571</defaultValue>
		<description>
			Concept ID of Patient BPL property. Used to determine
			patient BPL status from Patient Object.
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.Poor</property>
		<defaultValue>570</defaultValue>
		<description>
			Concept ID of Patient Poor property. Used to determine
			patient Poor status from Patient Object.
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.category</property>
		<defaultValue>Patient Category</defaultValue>
		<description>
			Name of attribute Patient Economic Category property.
			Used to determine patient BPL status from Patient Object.
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.orderTypeId</property>
		<defaultValue>1</defaultValue>
		<description>
			Order type ID from Order_type table of openmrs to
			determine which record is of type
			"Service Order".
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.rootServiceConceptId</property>
		<defaultValue>12</defaultValue>
		<description>
			Root Concept's ID from concepts table of openmrs to
			determine which record is
			the root in service hierarchy for billing patients.
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.encounterTypeId</property>
		<defaultValue>6</defaultValue>
		<description>
			Encounter type Id used for billing generated encounters,
			from encounter_type table.
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.locationId</property>
		<defaultValue>1</defaultValue>
		<description>
			Location Id used for billing generated encounters, from
			location table.
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.patientIdetifierTypeId</property>
		<defaultValue>1</defaultValue>
		<description>
			Patient Identifier type Id used for billing generated
			encounters,
			from patientidentifiertype table.
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.medicalExaminationIds</property>
		<defaultValue>1</defaultValue>
		<description>
			ConceptIds of Medical examinations. Each test of
			medication examination will be created one Order.
			Separate by comma
			for eg: 12,23,45
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.labEncounterType</property>
		<defaultValue>LABENCOUNTER</defaultValue>
		<description>
			LabEncounterType name
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.radiologyEncounterType</property>
		<defaultValue>RADIOLOGYENCOUNTER</defaultValue>
		<description>
			RadiologyEncounterType name
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.labOrderType</property>
		<defaultValue>3</defaultValue>
		<description>
			Lab order type id
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.radiologyOrderType</property>
		<defaultValue>4</defaultValue>
		<description>
			Radiology order type id
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.maintainCode</property>
		<defaultValue></defaultValue>
		<description>
			Maintain codes
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.allPatientCategories</property>
		<defaultValue>General,Poor,MLC,Hospital Staff,Government
			Employee,RSBY,BPL,Senior Citizen</defaultValue>
		<description>
			All patient categories
		</description>
	</globalProperty>


	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

